body {
    font-family: 'Roboto', sans-serif;
  }
  
  .card {
    border-radius: 10px;
  }
  
  img {
    border-radius: 10px;
  }
  
  a {
    transition: color 0.3s;
  }
  
  a:hover {
    color: #005bb5;
  }
  