/* Chat.css */
body {
  font-family: 'Roboto', sans-serif;
}

.chat-container {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto;
}

.chat-title {
  color: #0071ce;
  flex: 1;
}

.logout-button {
  background-color: #f44336;
  border-color: #f44336;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  font-size: 14px;
  font-weight: bold;
  border: none;
  margin-top: 10px;
}

.chat-messages-container {
  background: #f4f6f8;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
}

.chat-message {
  border-radius: 8px;
}

.chat-input {
  border-radius: 20px 0 0 20px;
  border-color: #0071ce;
  padding: 10px;
}

.send-button {
  background-color: #0071ce;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.chat-button {
  width: 45%;
  margin: 0 2.5%;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.google-signin-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .chat-container {
    padding: 0.5rem;
  }

  .logout-button {
    font-size: 12px;
    padding: 3px 10px;
  }

  .chat-title {
    font-size: 18px;
  }

  .chat-button {
    font-size: 12px;
    padding: 8px;
  }

  .chat-input {
    padding: 5px;
  }

  .send-button {
    padding: 5px 10px;
  }
}
