.main-container {
  margin-top: 20px;  /* Adjust this value as needed */
}

.card {
  border-radius: 10px;
}

img {
  border-radius: 10px;
}

a {
  transition: color 0.3s;
}

a:hover {
  color: #005bb5;
}
